*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    }
    html{
        font-size: 60.5%;
    }
    body{
        overflow-x: hidden;
        position: relative;
    }
    
    .container::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0.5),#06463f);
        z-index: -1;
    }
    
    .container{
        color: #fff;
        
    }
    
    h1{
        padding: 74px 21px;
    font-size: 5rem;
    position: relative;
    
    }
    h1::after{
        content: "";
        position: absolute;
        bottom: 6rem;
        left: 15%;
        transform: translateX(-50);
        height: 0.5rem;
        width: 31%;
        background: rgb(238, 40, 40);
    }
    
    p{
     padding:0px 21px;
     font-size: 3rem;
    }
    .heu{
        background: linear-gradient(rgba(0,0,0,0.5),#06463f);
        border: 2px solid black;
        margin:2rem 3rem;
        padding:1.5rem;
        font-size: 2.5rem;
    }
    .fn{
     padding:0 11.4rem;   
    }   
    
    .algo h3{
        margin: 72px 19px;
        font-size: 4rem;
        position: relative;
    }
    .algo h3::after{
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 3%;
        transform: translateX(-50);
        height: 0.5rem;
        width: 10%;
        background: rgb(238, 40, 40);
    }
    
    .algo ul{
        margin:-25px 12px;
        padding:15px 15px;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        padding-right: 12px;
        background: linear-gradient(rgba(0,0,0,0.5),#06463f);
    }
    
    .algo li{
        list-style:disc;
        padding: 12px 14px;
        margin:12px;
    font-size: 3rem;
    }

    .example h3{
        margin: 72px 19px;
        font-size: 4rem;
        position: relative;
    }
    
    .example h3::after{
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 3%;
        transform: translateX(-50);
        height: 0.5rem;
        width: 8%;
        background: rgb(238, 40, 40);
    }
    
    .example img{
        margin:40px 118px;
        height:500px;
        width:70%;
    }

    .steps{
        background: linear-gradient(rgba(0,0,0,0.5),#06463f);
        margin:50px 20px;
    }
    .steps ol{
        margin:-25px 12px;
        padding:15px 15px;
        display: flex;
        flex-direction: column;
        /* border: 2px solid black; */
        padding-right: 12px;
        /* background: linear-gradient(rgba(0,0,0,0.5),#06463f); */
    }
    .steps ol li{
        padding: 12px 14px;
        margin:12px;
    font-size: 3rem;
    }

    #btn{
        margin: 15px;
        font-size: large;
        padding: 10px 15px;
        font-weight: bold;
    }
    #btn:hover{
        background: red;
    }